<body id="bio_body">

    <!-- Container Two That contains My Bio  -->

    <div class="container-two-about-me">
        <div class="row">
        <img id="Khaled" src="/images/DJ Khaled.gif">
        </div>

        <p>
            I moved to SF last year in 2018 to work in tech. While working in sales at an early stage startup
            I took Cole Steele's Web Dev Bootcamp course online. This was one of the best courses I have ever taken
            and it got me passionate about programming. I started coding everyday after work and on weekends. It didn't 
            really seem like work to me. Since taking that course I have also started Colt Steele's new React course. 
            These courses have taught me that coding is my life passion. 
        </p>

    </div>
    
