<body id="bio_body">

    <!-- Container Two That contains My Bio  -->
    
    <div class="wrapper-two-about-me">
        <div class="container-two-about-me">

            <div id="about-me-p">
                I am a versatile full-stack javascript developer.  
                I have built products that have been featured in several media outlets including the <a href="https://www.theverge.com/2019/9/30/20891669/angelface-new-app-facial-recognition-venture-capitalists-surveillance">Verge/Vox Media</a>, Inc. Magazine (Russia), the front page of Product Hunt,
                the <a href="https://www.producthunt.com/newsletter/3263">Product Hunt Newsletter</a>, and <a href="https://www.codastory.com/news/new-app-brings-facial-recognition-to-in-person-networking/">Coda Story</a>. I am fast, extremely hard-working, and care about writing high quality code. If you would like 
                to work with me please send me an email at toshvelaga@gmail.com 
            </div>



        </div>
    </div>
    
