<body id="bio_body">

    <!-- Container Two That contains My Bio  -->

    <div class="container-two-about-me">
        <div class="row">
        <img id="spaceman" src="/images/bluespaceman.gif">
        </div>
        <p>
            I am a self-taught software developer originally from the great state of Kentucky. Growing
            up I was originally on track to work in healthcare. My experience in the medical field 
            has given me an intense ability to focus. In addition I grew up playing guitar and bass in several bands with
            some of the most talented musicians that I know. This experience has made 
            me acutely aware of artistic details and how to work with a team to bring an artistic vision 
            to life. 
        </p>

        <div class="row">
        <img id="Khaled" src="/images/DJ Khaled.gif">
        </div>

        <p>
            I moved to SF last year in 2018 to work in tech. While working in sales at an early stage startup
            I took Cole Steele's Web Dev Bootcamp course online. This was one of the best courses I have ever taken
            and it got me passionate about programming. I started coding everyday after work and on weekends. It didn't 
            really seem like work to me. Since taking that course I have also started Colt Steele's new React course. 
            These courses have taught me that coding is my life passion. 
        </p>

        <div class="row">
        <img id="designer" src="/images/designer.svg">
        </div>

        <p>
            I strive to improve at my craft everyday and use each new project as an opportunity to become
            better. To me writing code is a lot like playing music. In that sense I write code everyday in order to improve 
            just like if I were practicing to become a professional guitarist. If you are interested in working with me please
            email me at toshvelaga@gmail.com or fill out the contact form on this site. Have an awesome day! :)
        </p>
    </div>
    
