  <style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        font-size: 1rem;
        font-weight: 400;
    }
  </style>

<body id="contact_body">

<div class="wrapper">
  <div class="contact-form">
    <div class="input-fields">
    <form action="https://formsubmit.co/toshvelaga@gmail.com" method="POST">
        <input name="name" type="text" class="input" placeholder="Name">
        <input name="email" type="email" class="input" placeholder="Email Address">
        <input name="phone" type="text" class="input" placeholder="Phone">
        <input name="subject" type="text" class="input" placeholder="Subject">
      </div>
      <div class="msg">
        <textarea name="message" placeholder="Message"></textarea>
        <input type="submit" value="Send" class="btn">
      </div>
    </form>
  </div>
</div>	


