<body id="home_body">

    <!-- Contains qualities about me which are important -->

    <div class="container-two">
        <div class="row">
            <div class="column sm-3 first">
                <img class="reactlogo" src="images/thinbluereact.svg" alt="react logo" />
                <p>Latest Tech Stack</p>
            </div>

            <div class="column sm-3 second">
                <img class="bluebird" src="images/thindetailedbluebird.svg" alt="bird" />
                <p>Artfully Creative</p>
            </div>

            <div class="column sm-3 third">
                <img class="clock" src="images/thinbluewatch.svg" alt="clock with time" />
                <p>Always on Time</p>
            </div>

            <div class="column sm-3 fourth">
                <img class="phone" src="images/iphonegreen.svg" alt="mobile phone" />
                <p>Fast Communicator</p>
            </div>

        </div>
    </div>

    <!-- Descriptions about me on the home page -->

    <div class="container-three">
        <div class="row">
            <div class="column three left">
                <p id="shortbio">
                    Hello, World! My name is Tosh.
                    I am a developer based out of San Francisco.
                </p>
            </div>
            <div class="column three right">
                <p id="longbio">
                    I enjoy building apps, websites, and chrome extensions.
                    The technologies I most frequently use are
                    React, React Native, Expo, Node, Express, PostgreSQL, MongoDB, Firebase and AWS.
                    Feel free to peruse my portfolio and if you like my work
                    I am happy to talk more about working with you.
                </p>
            </div>
        </div>
    </div>