<body id="portfolio_body">

    <!-- First Container with 3 columns -->

    <div class="container one">
        <div class="row">
            <div class="column-one">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a href="https://chrome.google.com/webstore/detail/to-do-list/oonnhgbnbdanmicdkncfmkgclplohbln">
                        <span class="text">To-Do-List App</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="to-do-list" src="images/To-Do-List.png">
                <p class="app-description">A simple yet effective To-Do-List web browser 
                    extension that is compatible with Google Chrome and FireFox. 
                    Made with CSS, HTML, Vanilla JS, jquery, and local Storage.
                </p>
                <p id="symbols">
                    <img class="symbols" src="/images/html5(1).svg">
                    <img class="symbols" src="/images/css(1).svg">
                    <img class="symbols" src="/images/jslogo.svg">
                </p>

            </div>
            <div class="column-two">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a>
                        <span class="text">Note Taking App</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="note-taking-app" src="images/Note-Taking-App.png">
                <p class="app-description">A simple yet effective Note Taking application 
                    made with CSS, HTML, Vanilla JS, jquery, and local Storage.
                    
                </p>
            </div>
            <div class="column-three">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a href="http://trudo.ai/">
                        <span class="text">Trudo AI Startup</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="TRUDO" src="images/TRUDO-image.png">
                <p class="app-description">A simple yet effective Note Taking application 
                    made with CSS, HTML, and Vanilla JS.
                </p>
            </div>
        </div>
    </div>

