<body id="portfolio_body">

    <!-- First Container with 3 columns -->

    <div class="container-one-portfolio">
        <div class="row-portfolio">
            <div class="column-one">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a href="https://spot-f43fe.firebaseapp.com/signin">
                        <span class="text">Restaurant Feedback</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="qrcode" src="images/portfolio/qrcode.png">
                <p class="app-description">Was hired by client to create an MVP for
                a startup idea related to the food services/hospitality industry. App was built 
                using React, React-Redux, Chart.js, Firestore/Firebase, and Material-UI. 
                Progress was tracked with a trello board and bi-weekly standups were done on Monday
                and Friday. Purpose of the app was so that customers could leave reviews after eating at 
                a restaurant by scanning a QR code. If you want to try the app out scan the QR code above
                and go through the UX of leaving a review. There is also a business side to the app for restaurant
                owners to look at the reviews and analytics. For that click on the link to the project below and use the 
                following credentials: email: demoaccount@gmail.com / password: demoaccount2020.
                </p>
            </div>

            {{!--1ST PROJECT BUTTONS --}}

            <div class="portfolioBtnContainer">
                <a target="_blank" href="https://github.com/toshvelaga/parakeet"><button title="Code available on request" class="portfolioBtn">Code</button></a>
                <a target="_blank" href="https://spot-f43fe.firebaseapp.com/signin">
                    <button class="portfolioBtn">Project</button>
                </a>
            </div>

                        {{!-- 2ND PROJECT: FACE MASK PROJECT --}}
            <div class="column-two">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a target="_blank" href="https://facemask-1fb1c.firebaseapp.com/">
                        <span class="text">Face Mask Screen</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="girlwithmask" src="images/portfolio/girlwithmask.jpg">
                <p class="app-description">Was hired by a client to create an e-commerce site
                similar to Dollar Shave Club in order to validate his startup idea. Purpose of the site 
                was to gauge customer interest in a service that provides a monthly subscription of personalized 
                face masks. App was created using React, React-Redux, and Firebase/Firestore. Weekly meetings were 
                done with the CEO as well as the sales and marketing team. Progress was tracked via a trello board. 
                </p>
            </div>

            {{!-- BUTTONS --}}

            <div class="portfolioBtnContainer">
                <a target="_blank" href="https://github.com/toshvelaga/myfacescreen"><button title="Code available on request" class="portfolioBtn">Code</button></a>
                <a target="_blank" href="https://facemask-1fb1c.firebaseapp.com/"><button class="portfolioBtn">Project</button></a>
            </div>

            {{!-- 2ND PROJECT: Sequoia Robotics --}}
            <div class="column-two">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a target="_blank" href="">
                        <span class="text">Grocery Delivery</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="mobileappsimulator" src="images/portfolio/mobileappsimulator.png">
                <p class="app-description">Was hired by client (ex-NASA/Apple founders) to create a
                MVP for their mobile app idea. Used React Native, React Native Paper, Node, Express, MongoDB, React-Redux, 
                and JSON-server. Version tracking was originally done with GitHub and changed to GitLab after DevOps team was
                onboarded. Met with founders and DevOps team every Friday to go over progress through Zoom. NOTE: for this project
                I signed an NDA with founders which prevents me from showing code. If you would like to see the code or app please reach out 
                to me and I will ask the founders if that works for them.
                </p>
            </div>

            {{!-- BUTTONS --}}

            {{!-- <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">Code</button>
                <a target="_blank" href=""><button class="portfolioBtn">Project</button></a>
            </div> --}}

                        {{!-- 2ND PROJECT: NameSpeller --}}
            <div class="column-two">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a target="_blank" href="https://namespeller.com/">
                        <span class="text">NameSpeller</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="girlwithmask" src="images/portfolio/NameSpeller.png">
                <p class="app-description">Was hired by a succesful salesperson to 
                    create a chrome extension that prevents salespeople from misspelling a client's name 
                    in gmail. Extension was created using Vanilla Javascript, CSS, and inboxSDK API. Created a 
                    previous version for client that was made with React. Tracked progress via Trello board and met with 
                    client over video to explain code and go over UI. 
                </p>
            </div>

            {{!-- BUTTONS --}}

            <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">Code</button>
                <a target="_blank" href="https://chrome.google.com/webstore/detail/dgdnokgenabhnbadkcadfelibaclfgod"><button class="portfolioBtn">Project</button></a>
            </div>

            {{!-- 3RD CONTAINER TRUDO AI STARTUP WEBSITE --}}
            <div class="column-three">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a target="_blank" href="https://www.theverge.com/2019/9/30/20891669/angelface-new-app-facial-recognition-venture-capitalists-surveillance">
                        <span class="text">Trudo AI Startup</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="TRUDO" src="images/portfolio/facialrecognition.png">
                <p class="app-description">Was brought on to be a co-founder at a computer vision startup. 
                    I was mostly responsible for sales and marketing on a day-to-day basis, but also created the 
                    website and committed code to web app front-end using React. Also worked with the backend which was
                    created using Django and MySQL as the database. Created the website using HTML, CSS, Vanilla 
                    Javascript, and jQuery. Did the design and layout work/ideation using Figma. Eventually company 
                    pivoted to a consumer app that utilized facial recognition called AngelFace, which recieved international media attention.  
                </p>
            </div>
            {{!-- BUTTONS --}}
            <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">Code</button>
                <a target="_blank" href="https://www.producthunt.com/posts/angelface"><button class="portfolioBtn">Project</button></a>
            </div>

        </div>
    </div>

    {{!-- Second Container with three columns --}}

        <div class="container-two-portfolio">
        <div class="row-portfolio">
            <div class="column-one">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a target="_blank" href="https://toshvelaga.github.io/LinkedinTemplate/">
                        <span class="text">LinkedIn Profile App</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="colorfulsquare" src="images/portfolio/LinkedIn.png">
                <p class="app-description">Was hired by client to create a very simple app that allowed
                    users to use her proccess for optimizing their LinkedIn profile. Completed the app within 
                    a few hours using HTML, CSS, Vanilla JS, jQuery, and hosted the app on Github Pages. 
                </p>
            </div>
            {{!-- BUTTONS --}}
            <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">Code</button>
                <a target="_blank" href="https://toshvelaga.github.io/LinkedinTemplate/">
                    <button class="portfolioBtn">Project</button>
                </a>
            </div>
        </div>
    </div>

    {{!-- Chrome Extension Note Taking App --}}

        <div class="container-two-portfolio">
        {{!-- <div class="row-portfolio">
            <div class="column-one">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a target="_blank" href="https://chrome.google.com/webstore/detail/post-notes/jjmdndenbhjhglmfieilmlkfkbaeiclg">
                        <span class="text">Post Notes App</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="NoteTakingApp" src="images/portfolio/Note-Taking-App.png">
                <p class="app-description">Built a chrome extension while working at a startup to take notes in the browser while
                    communicating with potential clients. Created using vanilla JS, HTML/CSS, and local storage. Conducted
                    design work using Figma. Decided to make available on the chrome store after colleague asked for source code.
                </p>
            </div> --}}

            {{!-- BUTTONS --}}
            {{!-- <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">Code</button>
                <a target="_blank" href="https://chrome.google.com/webstore/detail/post-notes/jjmdndenbhjhglmfieilmlkfkbaeiclg">
                    <button class="portfolioBtn">Project</button>
                </a>
            </div> --}}
        </div>
    </div>