<body id="portfolio_body">

    <!-- First Container with 3 columns -->

    <div class="container-one-portfolio">
        <div class="row-portfolio">
            <div class="column-one">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a href="https://chrome.google.com/webstore/detail/to-do-list/oonnhgbnbdanmicdkncfmkgclplohbln">
                        <span class="text">To-Do-List App</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="to-do-list" src="images/To-Do-List.png">
                <p class="app-description">A simple yet effective To-Do-List web browser 
                    extension that is compatible with Google Chrome and FireFox. 
                    Made with CSS, HTML, Vanilla JS, jquery, and local Storage.
                </p>
                <p id="symbols">
                    <img class="symbols" src="/images/html5(1).svg">
                    <img class="symbols" src="/images/css(1).svg">
                    <img class="symbols" src="/images/jslogo.svg">
                </p>

            </div>
            <div class="column-two">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a>
                        <span class="text">Note Taking App</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="note-taking-app" src="images/Note-Taking-App.png">
                <p class="app-description">I made this out of frustration at the lack
                of free chrome extensions that provided the simple service of being able
                to store notes. The service I was previously using was constantly trying to upsell
                users so I decided to create an extension that I could use for myself. The Note Taking App
                is available on Chrome as well as Firefox. I made it using HTML, CSS, JS, and local storage.
                </p>
                <p id="symbols">
                    <img class="symbols" src="/images/html5(1).svg">
                    <img class="symbols" src="/images/css(1).svg">
                    <img class="symbols" src="/images/jslogo.svg">
                </p>
            </div>
            <div class="column-three">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a href="http://trudo.ai/">
                        <span class="text">Trudo AI Startup</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="TRUDO" src="images/TRUDO-image.png">
                <p class="app-description">A landing page I designed for a startup in SF that
                uses machine vision to help retail stores prevent theft and increase sales. I did
                the design work using Figma in collaboration with the client. Once he was satisfied
                on the prelimiary designs I created the site using HTML and CSS. 
                </p>
                <p id="symbols">
                    <img class="symbols" src="/images/html5(1).svg">
                    <img class="symbols" src="/images/css(1).svg">
                </p>
            </div>
        </div>
    </div>

    {{!-- Second Container with three columns --}}

        <div class="container-two-portfolio">
        <div class="row-portfolio">
            <div class="column-one">
                <p class="app-title">
                <section class="portfolio-experiment">
                    <a href="https://santhoshvelaga.github.io/colorGame/">
                        <span class="text">RBG Color Game</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                    </a>
                </section>
                </p>
                <img id="colorfulsquare" src="images/colorfulsquare.png">
                <p class="app-description">I made this during Colt Steele's Web Dev Bootcamp.
                It's a simple game designed to help teach people what the RGB codes mean. I made this
                using HTML/CSS, and JS. I hosted it using GitHub pages.
                </p>
                <p id="symbols">
                    <img class="symbols" src="/images/html5(1).svg">
                    <img class="symbols" src="/images/css(1).svg">
                    <img class="symbols" src="/images/jslogo.svg">
                </p>

            </div>
        </div>
    </div>
