<body id="portfolio_body">

    <!-- First Container with 3 columns -->

    <div class="container-one-portfolio">
        <div class="row-portfolio">
            <div class="column-one">
                <p class="app-title">
                    Wavvy
                </p>
                <img id="mic" src="images/portfolio/wavvy.png">
                <p class="app-description">Podcast hosting and analytics software product. Built using
                    React, Redux, Node, Express, Postgres, Nodemailer, AWS, and Stripe. Allows users to 
                    upload audio files to the cloud, get an RSS feed, get an embeddable media player to add 
                    to their website, analytics on plays, and a cutomizable website with media links.
                </p>
            </div>

            {{!--1ST PROJECT BUTTONS --}}

            <div class="portfolioBtnContainer">
                <a target="_blank" href="https://github.com/toshvelaga/wavvy-clean">
                    <button class="portfolioBtn">Code</button></a>
                <a target="_blank" href="https://www.wavvy.us">
                    <button class="portfolioBtn">Project</button>
                </a>
            </div>

            <div class="column-one">
                <p class="app-title">
                    Parakeet
                </p>
                <img id="qrcode" src="images/portfolio/qrcode2.png">
                <p class="app-description">Was hired by client to create an MVP for
                    a startup idea related to the food services/hospitality industry. App was built
                    using React, React-Redux, Chart.js, Firestore/Firebase, and Material-UI.
                    Progress was tracked with a trello board and bi-weekly standups were done on Monday
                    and Friday. Purpose of the app was so that customers could leave reviews after eating at
                    a restaurant by scanning a QR code. If you want to try the app out scan the QR code above
                    and go through the UX of leaving a review. There is also a business side to the app for restaurant
                    owners to look at the reviews and analytics. For that click on the link to the project below and use
                    the
                    following credentials: email: demoaccount@gmail.com / password: demoaccount2020.
                </p>
            </div>

            {{!--1ST PROJECT BUTTONS --}}

            <div class="portfolioBtnContainer">
                <a target="_blank" href="https://github.com/toshvelaga/parakeet">
                    <button class="portfolioBtn">Code</button></a>
                <a target="_blank" href="https://spot-f43fe.firebaseapp.com/signin">
                    <button class="portfolioBtn">Project</button>
                </a>
            </div>

            {{!-- 2ND PROJECT: FACE MASK PROJECT --}}
            <div class="column-two">
                <p class="app-title">
                    Face Mask Screen
                </p>
                <img id="girlwithmask" src="images/portfolio/masks.png">
                <p class="app-description">Was hired by a client to create an e-commerce site
                    similar to Dollar Shave Club in order to validate his startup idea. Purpose of the site
                    was to gauge customer interest in a service that provides a monthly subscription of personalized
                    face masks. App was created using React, React-Redux, and Firebase/Firestore. Weekly meetings were
                    done with the CEO as well as the sales and marketing team. Progress was tracked via a trello board.
                </p>
            </div>

            {{!-- BUTTONS --}}

            <div class="portfolioBtnContainer">
                <a target="_blank" href="https://github.com/toshvelaga/myfacescreen"><button
                        title="Code available on request" class="portfolioBtn">Code</button></a>
                <a target="_blank" href="https://facemask-1fb1c.firebaseapp.com/"><button
                        class="portfolioBtn">Project</button></a>
            </div>

            {{!--  Voiceblasts --}}
            <div class="column-two">
                <p class="app-title">
                    Voiceblasts
                </p>
                <img id="voiceblasts" src="images/portfolio/VoiceBlasts2.png">
                <p class="app-description">Was hired by a startup in the Mozilla Incubator to create a mobile app MVP.
                    Used React-Native, Redux, Expo, Firestore/Firebase, and AWS S3. Communicated with founder via slack
                    and zoom.
                    Project management was done using Asana. Design work was done collaboratively with founder using
                    Figma.
                </p>
            </div>

            {{!-- BUTTONS --}}

            <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">
                    <i class="fa fa-eye-slash"></i> Code
                </button> <a target="_blank"
                    href="https://www.youtube.com/watch?v=7ZaqLdUrOcU&feature=youtu.be&ab_channel=ToshVelaga"><button
                        class="portfolioBtn">Project</button></a>
            </div>

            {{!-- 2ND PROJECT: Sequoia Robotics --}}
            <div class="column-two">
                <p class="app-title">
                    Sequoia Robotics
                </p>
                <img id="mobileappsimulator" src="images/portfolio/mobileappsimulator.png">
                <p class="app-description">Was hired by client (ex-NASA/Apple employees) to create a
                    MVP for their mobile app idea. Used React Native, React Native Paper, Node, Express, MongoDB, and
                    React-Redux.
                    Version tracking was originally done with GitHub and changed to GitLab after DevOps team was
                    onboarded. Met with founders and DevOps team every Friday to go over progress through Zoom. NOTE:
                    for this project
                    I signed an NDA with founders which prevents me from showing code. If you would like to see the code
                    or app please reach out
                    to me and I will ask the founders if that works for them.
                </p>
            </div>

            {{!-- BUTTONS --}}

            <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">
                    <i class="fa fa-eye-slash"></i> Code
                </button> <a target="_blank"
                    href="https://www.youtube.com/watch?v=kyvTic551lc&ab_channel=ToshVelaga"><button
                        class="portfolioBtn">Project</button></a>
            </div>

            {{!-- 2ND PROJECT: NameSpeller --}}
            <div class="column-two">
                <p class="app-title">
                    NameSpeller
                </p>
                <img id="girlwithmask" src="images/portfolio/NameSpeller.png">
                <p class="app-description">Was hired by a sales agency to
                    create a chrome extension that prevents salespeople from misspelling a client's name
                    in gmail. Extension was created using Vanilla Javascript, CSS, and inboxSDK API. Created a
                    previous version for client that was made with React. Tracked progress via Trello board and met with
                    client over video to explain code and go over UI.
                </p>
            </div>

            {{!-- BUTTONS --}}

            <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">
                    <i class="fa fa-eye-slash"></i> Code
                </button>
                <a target="_blank"
                    href="https://chrome.google.com/webstore/detail/dgdnokgenabhnbadkcadfelibaclfgod"><button
                        class="portfolioBtn">Project</button></a>
            </div>

            {{!-- 3RD CONTAINER TRUDO AI STARTUP WEBSITE --}}
            <div class="column-three">
                <p class="app-title">
                    PressOne
                </p>
                <img id="TRUDO" src="images/portfolio/actor.png">
                <p class="app-description">Was brought on to be a co-founder at a computer vision startup.
                    I was mostly responsible for sales and front-end on a day-to-day basis. Created the
                    website and committed code to web app front-end using React. Also worked with the backend which was
                    created using Django and MySQL as the database. Created the website using HTML, CSS, Vanilla
                    Javascript, and jQuery. Did the design and layout work/ideation using Figma. Eventually company
                    pivoted to a consumer app that utilized facial recognition called AngelFace, which recieved
                    international media attention.
                </p>
            </div>
            {{!-- BUTTONS --}}
            <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">
                    <i class="fa fa-eye-slash"></i> Code
                </button>
                <a target="_blank" href="https://www.producthunt.com/posts/angelface"><button
                        class="portfolioBtn">Project</button></a>
            </div>

        </div>
    </div>

    {{!-- Second Container with three columns --}}

    <div class="container-two-portfolio">
        <div class="row-portfolio">
            <div class="column-one">
                <p class="app-title">
                    LinkedIn SEO
                </p>
                <img id="colorfulsquare" src="images/portfolio/LinkedIn.png">
                <p class="app-description">Was hired by client to create a very simple app that allowed
                    users to use her proccess for optimizing their LinkedIn profile. Completed the app within
                    a few hours using HTML, CSS, Vanilla JS, jQuery, and hosted the app on Github Pages. NOTE: project
                    is originally
                    available for desktop. Not responsive for mobile.
                </p>
            </div>
            {{!-- BUTTONS --}}
            <div class="portfolioBtnContainer">
                <button title="Code available on request" class="portfolioBtn">
                    <i class="fa fa-eye-slash"></i> Code
                </button>
                <a target="_blank" href="https://toshvelaga.github.io/LinkedinTemplate/">
                    <button class="portfolioBtn">Project</button>
                </a>
            </div>
        </div>
    </div>

    {{!-- Card Game --}}

    <div class="container-two-portfolio">
        <div class="row-portfolio">
            <div class="column-one">
                <p class="app-title">
                    Card Game
                </p>
                <img id="NoteTakingApp" src="images/portfolio/Ace.png">
                <p class="app-description">Built a card game where if one of your last two cards is an Ace you
                    win the game. Created based on designs that were given to me. All cards are properly shuffled.
                    Created
                    using React JS, Redux, React-Router, and Styled-Components. Animations from React-DOM-Confetti.
                    Deployed via Netlify. NOTE: this web app is not responsive. To properly view please use desktop.
                </p>
            </div>

            {{!-- BUTTONS --}}
            <div class="portfolioBtnContainer">
                <a target="_blank" href="https://github.com/toshvelaga/cardgame">
                    <button class="portfolioBtn">Code</button></a>
                <a target="_blank" href="https://cardgameace.netlify.app/">
                    <button class="portfolioBtn">Project</button>
                </a>
            </div>
        </div>
    </div>